.best_products_list{
	background-color: lightgray;
	width: 30%;
	padding: 10px;
	border-radius: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (max-width:1024px){
	.best_products_list{
		width: 40%;
	}
}

@media (max-width:768px){
	.best_products_list{
		width: 60%;
	}
}

@media (max-width:425px){
	.best_products_list{
		width: 80%;
	}
}

@media (max-width:425px){
	.best_products_list{
		width: 100%;
	}
}
