
.nav_ul{
	display: flex;
	align-items: center;
}

.nav_ul .nav_ul_li{
	padding: 5px;
	font-size: 1.2rem;
	font-weight: bold;
}

.site_logo{
	width: 60px;
	height: 50px;
}


/* for hamburger menu */
@media (max-width: 767px) {
	ul.for_small_device{
		background-color: wheat;
		height: 100vh;
		padding-top: 100px;
		top: 0;
	}

	button.for_small_device{
		z-index: 2;
	}

	img.for_small_device{
		position: relative;
		z-index: 2;
	}
  }
