
.nav_header{
	border-bottom: 1px solid #ccc;
}

.nav_ul{
	display: flex;
	align-items: center;
}

.nav_ul .nav_ul_li{
	padding: 5px;
	font-size: 1.2rem;
	font-weight: bold;
}

.site_logo{
	width: 60px;
	height: 50px;
}
